label {
    font-weight: bold;
    color: blue;
}

.entry {
    border-color: gray;
    border-width: 1;
    border-radius: 5;
    padding: 5;
}

button {
    background-color: green;
    color: white;
    padding: 10;
    border-radius: 5;
    border: none;
}